{% trans_default_domain 'GeolocationUserBundle' %}

<div class="container">
    <div class="row">
        <div id="fos_user_user_edit" class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>{{ 'profile.edit.title'|trans }}</h3></div>
                <div class="panel-body">
                    {% form_theme form 'GeolocationUserBundle:Form:error.html.twig' %}
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        <span class="form-edit-label">{{ form_label(form.nom) }}</span>
                        {{ form_widget(form.nom, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-nom">{{ form_errors(form.nom) }}</span>
                    </div>


                    <div class="form-group">
                        <span class="form-edit-label">{{ form_label(form.email) }}<strong
                                    class="text-danger">*</strong></span>
                        {{ form_widget(form.email, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-email">{{ form_errors(form.email) }}</span>
                    </div>

                    <div class="form-group">
                        <span class="form-edit-label">{{ form_label(form.adresse) }}<strong
                                    class="text-danger">*</strong></span>
                        {{ form_widget(form.adresse, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-adresse">{{ form_errors(form.adresse) }}</span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-register-label">{{ form_label(form.ville) }}<strong
                                            class="text-danger">*</strong></label>
                                {{ form_widget(form.ville, { 'attr': {'class': 'register-form-input form-control autocomplete-search-city', 'placeholder': 'form.ville', 'autocomplete': 'off', 'spellcheck': 'false', 'tabindex': '7', 'data-url': path('api_commun_json_villes'), 'name': 'city'}}) }}
                                <span class="form-error" id="error-ville">{{ form_errors(form.ville) }}</span>
                            </div>
                            <div class="col-sm-6">
                                <span class="form-edit-label">{{ form_label(form.codePostal) }}<strong
                                            class="text-danger">*</strong></span>
                                {{ form_widget(form.codePostal, { 'attr': {'class': 'register-form-input form-control autocomplete-search-cp', 'placeholder': 'form.cp', 'autocomplete': 'off', 'spellcheck': 'false', 'tabindex': '6', 'name': 'cp'}}) }}
                                <span class="form-error" id="error-codePostal">{{ form_errors(form.codePostal) }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="form-edit-label">{{ form_label(form.tel) }} <strong
                                            class="text-danger">*</strong> <i class="glyphicon glyphicon-question-sign"
                                                                              data-toggle="tooltip"
                                                                              data-placement="right"
                                                                              title="Le numéro de téléphone vous est demandé afin de pouvoir avoir un référant de l'économie circulaire. Il reste confidentiel et interne à Géoric"></i></span>
                                {{ form_widget(form.tel, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                                <span class="form-error" id="error-tel">{{ form_errors(form.tel) }}</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">

                        <div class="row">
                            <div class="col-sm-6">
                                <span class="form-edit-label">{{ form_label(form.siren) }}</span>
                                {{ form_widget(form.siren, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false' }}) }}
                                <span class="form-error" id="error-siren">{{ form_errors(form.siren) }}</span>
                            </div>
                            <div class="col-sm-6">
                                <span class="form-edit-label">{{ form_label(form.fileKbis) }} (PDF uniquement)</span>
                                {{ form_widget(form.fileKbis, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                                <span class="text-danger" id="error-surname">{{ form_errors(form.fileKbis) }}</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <span class="form-edit-label">{{ form_label(form.dateCreationEntreprise) }}</span>
                        <div class='input-group date' id='datetimepicker1'>
                            {{ form_widget(form.dateCreationEntreprise) }}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span class="form-error"
                              id="error-dateCreationEntreprise">{{ form_errors(form.dateCreationEntreprise) }}</span>
                    </div>
                    <div class="form-group">
                        <span class="form-edit-label">{{ form_label(form.url) }}</span>
                        {{ form_widget(form.url, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-url">{{ form_errors(form.url) }}</span>
                    </div>
                    <div class="form-group">
                        <span class="form-edit-label">{{ form_label(form.description) }}</span>
                        {{ form_widget(form.description, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-description">{{ form_errors(form.description) }}</span>
                    </div>

                    <div class="form-group">
                        <span class="form-edit-label">{{ form_label(form.pilier) }}</span>
                        {{ form_widget(form.pilier, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-pilier">{{ form_errors(form.pilier) }}</span>
                    </div>

                    <div class="mt20"></div>
                    <div class="form-group">
                        <span class="form-edit-label">{{ form_label(form.current_password) }}</span>
                        {{ form_widget(form.current_password, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error"
                              id="error-current_password">{{ form_errors(form.current_password) }}</span>
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.save, { 'attr': {'class': 'submit-button-geolocation btn btn-success', 'value' : ('profile.edit.submit'|trans) }}) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>


        </div>
        <a href="{{ path('fos_user_profile_show') }}"
           class="submit-button-geolocation-light btn btn-default">
            <i class="glyphicon glyphicon-arrow-left"></i>
            {{ 'profile.edit.back_on_profile'|trans }}
        </a>

    </div>
</div>