{% trans_default_domain 'GeolocationUserBundle' %}

<div class="container">
    <div id="fos_user_user_show">
        <h1>{{ 'profile.show.title'|trans }}</h1>
        <hr>

        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>{{ 'profile.show.basic_infos'|trans }}</h3></div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>{{ 'profile.show.name'|trans }} :</strong>
                                        {{ user.nom }}</li>

                                    <li class="list-group-item"><strong>{{ 'profile.show.username'|trans }} :</strong>
                                        {{ user.username }}</li>

                                    <li class="list-group-item"><strong>{{ 'profile.show.date_creation_entreprise'|trans }} :</strong>

                                        {% if user.dateCreationEntreprise  != '' %}
                                            {{ user.dateCreationEntreprise }}
                                        {% else %}
                                            {{ 'profile.show.nonrenseigne'|trans }}
                                        {% endif %}
                                    </li>

                                    <li class="list-group-item"><strong>{{ 'profile.show.email'|trans }} :</strong>
                                        {{ user.email }}</li>

                                    <li class="list-group-item"><strong>{{ 'profile.show.adresse'|trans }} :</strong>
                                        {{ user.adresse }}</li>


                                    <li class="list-group-item"><strong>{{ 'profile.show.ville'|trans }} :</strong>
                                        {{ user.ville }}</li>

                                    <li class="list-group-item"><strong>{{ 'profile.show.codepostal'|trans }} :</strong>
                                        {{ user.codepostal }}</li>

                                    <li class="list-group-item"><strong>{{ 'profile.show.telephone'|trans }} :</strong>

                                        {% if user.tel != '' %}
                                            {{ user.tel }}
                                        {% else %}
                                            {{ 'profile.show.nonrenseigne'|trans }}
                                        {% endif %}
                                    </li>

                                    <li class="list-group-item"><strong>{{ 'profile.show.siren'|trans }} :</strong>
                                        {{ user.siren }}</li>

                                    <li class="list-group-item"><strong>{{ 'profile.show.kbis'|trans }} :</strong>

                                        {% if user.kbis != '' %}
                                            <a href="{{ path('user_kbis', {'id': user.id}) }}" target="_blank">{{ user.kbis }}</a>
                                        {% else %}
                                            {{ 'profile.show.nonrenseigne'|trans }}
                                        {% endif %}
                                    </li>

                                    <li class="list-group-item"><strong>{{ 'profile.show.site'|trans }} :</strong>

                                        {% if user.url != '' %}
                                            <a href="{{ user.url }}">{{ user.url }}</a>
                                        {% else %}
                                            {{ 'profile.show.nonrenseigne'|trans }}
                                        {% endif %}
                                    </li>

                                    <li class="list-group-item"><strong>{{ 'profile.show.description'|trans }} :</strong>

                                        {% if user.description != '' %}
                                            {{ user.description }}
                                        {% else %}
                                            {{ 'profile.show.nonrenseigne'|trans }}
                                        {% endif %}
                                    </li>   
                                </ul>
                                <div class="text-center">       
                                    <a class="btn btn-info btn-lg text-center" href="{{ path('fos_user_profile_edit') }}">{{ 'profile.show.link_edit'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>{{ 'profile.show.security_infos'|trans }}</h3></div>
                            <div class="panel-body">
                                <div class="text-center"> 
                                    <a class="btn btn-info btn-lg" href="{{ path('fos_user_change_password') }}">{{ 'profile.show.link_change_password'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 myressource">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>{{ 'profile.show.ressources_title'|trans }}</h3></div>
                            <div class="panel-body">
                                {% if ressources|length > 0 %}
                                    {% set cpt = 0 %}
                                    <h4>Besoin</h4>
                                    <ul id="listBesoin">
                                        {% for key, ressource in ressources %}
                                            {% if ressource.getBesoin()==true %}
                                                <li class="myRessource">
                                                    {% if ressource.cpf.section.image == null %}
                                                        <img src="{{ asset("bundles/site/img/logo-ressources/notfound.png") }}"  data-toggle="tooltip" data-placement="bottom" title="{{ ressource.cpf.section.libelle }}" />
                                                    {% else %}
                                                        <img src="{{ asset("bundles/site/img/logo-ressources/"~ressource.cpf.section.image) }}"  data-toggle="tooltip" data-placement="bottom" title="{{ ressource.cpf.section.libelle }}" />
                                                    {% endif %}
                                                    {{ ressource.cpf.souscategorie.libelle }}
                                                </li>
                                                {% set cpt = 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if cpt==0 %}
                                            <li class="myRessource"> {{ 'profile.show.no_besoins'|trans }} </li>
                                            {% endif %}  
                                    </ul>

                                    {% set cpt = 0 %}
                                    <h4>Proposition</h4>
                                    <ul id="listProposition">
                                        {% for key, ressource in ressources %}
                                            {% if ressource.getBesoin()==false %}
                                                <li class="myRessource">
                                                    <img src="{{ asset("bundles/site/img/logo-ressources/"~ressource.cpf.section.code~".png") }}"  data-toggle="tooltip" data-placement="bottom" title="{{ ressource.cpf.section.libelle }}" />
                                                    {{ ressource.cpf.souscategorie.libelle }}
                                                </li>
                                                {% set cpt = 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if cpt==0 %}
                                            <li class="myRessource"> {{ 'profile.show.no_propositions'|trans }} </li>
                                            {% endif %}
                                    </ul>
                                {% else %}
                                    <p>
                                        {{ 'profile.show.no_ressources'|trans }} 
                                    </p>
                                {% endif %}
                                <div class="text-center"> 
                                    <a class="btn btn-info btn-lg" href="{{ path('user_ressources') }}">
                                        {{ 'profile.show.link_edit_ressources'|trans }}
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>{{ 'profile.show.site_secondary'|trans }}</h3></div>
                            <div class="panel-body">
                                {% if sites|length > 0 %}
                                    <ul>
                                        {% for site in sites %}
                                            <li class="mySite">
                                                <strong> {{ site.nom }}  :</strong> {{ site.adresse }} - {{ site.ville }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ 'profile.edit.no_site'|trans }}
                                {% endif %}
                                <div class="text-center"> 
                                    <a class="btn btn-info btn-lg" href="{{ path('user_show_site') }}">{{ 'profile.show.link_site_secondary'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- <div class="col-sm-6">
                 <div style="background-image: url('/profile-picture/{{ user.username }}'); width: 100px; height: 100px;"></div>
             </div>-->




        </div>

    </div>
</div>
