{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">

        <h1>Fiche de l'entreprise {{ site.nom }}</h1>
        <hr>

        <div class="row">
            <div class="col-sm-6">
                <section>
                    <div class="row well">
                        <article class="col-sm-6">
                            <h2>Adresse</h2>
                            {% if site.adresse != '' %}
                                <p>{{ site.adresse }}</p>
                            {% else %}
                                <p>Adresse non-renseignée</p>
                            {% endif %}

                            {% if site.codePostal != '' or site.ville != '' %}
                                <p>{{ site.codePostal }}, {{ site.ville }}</p>
                            {% else %}
                                <p>Ville non-renseignée</p>
                            {% endif %}

                        </article>
                        <article class="col-sm-6">
                            <h2>Coordonnées</h2>
                            {% if site.tel != '' and site.isPublic %}
                                <p><i class="fa fa-phone"></i> {{ site.tel }}</p>
                            {% else %}
                                <p><i class="fa fa-phone"></i> Téléphone non-renseigné</p>
                            {% endif %}

                            {% if user.email != '' %}
                                <p><i class="fa fa-envelope-o"></i> {{ user.email }}</p>
                            {% else %}
                                <p><i class="fa fa-envelope-o"></i> Email non-renseigné</p>
                            {% endif %}

                            {% if user.url != '' %}
                                <p><i class="fa fa-at"></i> <a href="{{ user.url }}" target="_blank">{{ user.url }}</a></p>
                                {% else %}
                                <p><i class="fa fa-at"></i> Site non-renseigné</p>
                            {% endif %}
                        </article>
                    </div>
                    <div class="row well">
                        <article class="col-sm-12">
                            <h2>Description</h2>
                            {% if user.description != '' %}
                                <p> {{ user.description }}</p>
                            {% else %}
                                <p>Description non-renseignée</p>
                            {% endif %}
                        </article>
                    </div>
                </section>

                <section>
                    <div class="row well">
                        <h2 class="col-sm-12">Ressources proposées</h2>
                        {% if ress|length == 0 %}
                            <p>Aucune ressource proposée</p>
                        {% else %}
                            {% for item in ress %}
                                {% if item.besoin == false %}
                                    <article class="col-sm-4 text-center">
                                        <img src="{{ asset("bundles/site/img/logo-ressources/"~item.cpf.section.code~".png") }}"  data-toggle="tooltip" data-placement="bottom" title="{{ item.cpf.section.libelle }}" /><br>
                                        {{ item.cpf.souscategorie.libelle }}
                                    </article>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </section>

                <section>
                    <div class="row well">
                        <h2 class="col-sm-12">Ressources demandées</h2>
                        {% if ress|length == 0 %}
                            <p>Aucune ressource proposée</p>
                        {% else %}
                            {% for item in ress %}
                                {% if item.besoin == true %}
                                    <article class="col-sm-4 text-center">
                                        <img src="{{ asset("bundles/site/img/logo-ressources/"~item.cpf.section.code~".png") }}" /><br>
                                        {{ item.cpf.souscategorie.libelle }}
                                    </article>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </section>

            </div>

            <aside class="col-sm-5 col-sm-offset-1">
                <div class="row voffset3"><a href="mailto:{{ user.email }}" type="button" class="btn btn-primary btn-lg col-sm-12">Contacter cette entreprise</a></div>
                <div class="row voffset3">
                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="100%" height="400" src="https://maps.google.com/maps?hl=en&q={{ site.adresse }} {{ site.codePostal }} {{ site.Ville }}&ie=UTF8&t=m&z=11&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">
                                    embedgooglemaps.com
                                </a></small></div><div><small><a href="http://www.ultimatewebtraffic.com">website traffic</a></small></div></iframe>
                </div>


                <div class="row well">
                    {% if isMain %}
                        <h3>Site de l'entreprise</h3>
                        <ul>
                        {% for item in sites %}
                            <li><a href="{{ path('site_details', {'id': item.id}) }}">{{ item.nom }}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p><a href="{{ path('site_details', {'id': main.id}) }}">Voir la fiche de l'entreprise mère</a></p>
                    {% endif %}
                </div>


            </aside>
        </div>

    </div>
{% endblock %}
