<footer class="footer">
    <ul>
        <li><a href="{{ path('site_apropos') }}">A propos</a></li>
        <li><a href="{{ path('site_listeinscrit') }}">Liste des inscrits</a></li>
        <li><a href="{{ path('site_partenaires') }}">Partenaires</a></li>
        <li><a href="{{ path('site_aide') }}">Aide en ligne</a></li>
        <li><a href="{{ path('site_contact') }}">Contact</a></li>
    </ul>
    <p><a target="_blank" href="#">Vanessa Lehnert</a> - <a target="_blank" href="https://fr.linkedin.com/in/maxence-beno-5088676b
">Maxence Beno</a> - <a target="_blank" href="https://fr.linkedin.com/in/antoine-ferrieux-274588b4">Antoine Ferrieux</a><br>
    LP METINET - IUT LYON 1 - Bourg en Bresse</p>
<!--
    <ul>
        <li>
            <a class="btn btn-social-icon btn-lg btn-twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-social-icon btn-lg btn-facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a class="btn btn-social-icon btn-lg btn-linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
    </ul>

-->
    </footer>
