{% extends 'GeolocationAdminBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Pilier'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}


    <div class="row-fluid">
        <h1>{{ 'views.new.creation'|trans({'%entity%': 'Pilier'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
        <div class="span5 well">
            <form action="{{ path('pilier_create') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <p>
                    <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </p>
            </form>
        </div>

        <div class="span6 well">
            <h2>Url Picto</h2>
            <ul>
                {% for pilier in piliers %}
                    <li>
                        <img src="{{ pilier.urlPicto }}"> : {{ pilier.urlPicto }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>



        <a class="btn" href="{{ path('pilier') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>

{% endblock %}