{% extends "MediamotionUserBundle::layout.html.twig" %}

{% trans_default_domain 'MediamotionUserBundle' %}

{% block stylesheets %}
    {% stylesheets '@MediamotionUserBundle/Resources/public/css/login/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
        
    {% stylesheets '../app/Resources/public/css/mediamotion.min.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block fos_user_content %}

<div class="bg-login" style="background-image: url({{ asset('bundles/mediamotionsite/images/sea-city-mountains-landmark.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form action="{{ path("fos_user_security_check") }}" method="post" id="login-form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="logo_login"><img src="{{ asset('bundles/mediamotionfm2/images/logo.png') }}" alt="" /></div>

                    {% if error %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    
                    <input type="text" id="username" class="login-form-input" name="_username" spellcheck="false" autocomplete="off" placeholder="{{ 'security.login.username'|trans }}" autofocus required="required" />

                    <br />

                    <input type="password" id="password" class="login-form-input" name="_password" spellcheck="false" placeholder="{{ 'security.login.password'|trans }}" required="required" />

                    <br />

                    <div class="block_remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked="checked" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>

                    <input type="submit" id="login-submit" class="submit-button-mediamotion" name="_submit" value="{{ 'security.login.submit'|trans }}" />

                    <p class="forgot_password"><a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot'|trans }}</a></p>
                </form>
            </div>
        </div>
    </div>
    <div class="push_footer"></div>
</div>
{% endblock fos_user_content %}
