{% extends "GeolocationUserBundle::layout.html.twig" %}

{% trans_default_domain 'GeolocationUserBundle' %}

{% block stylesheets %}
    {% stylesheets '@GeolocationUserBundle/Resources/public/css/login/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block fos_user_content %}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8">
                <form action="{{ path("fos_user_security_check") }}" method="post" id="login-form" class="form-group">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="social_icon"></div>
                    
                    <h2>{{ 'layout.login'|trans }}</h2>
                    <hr class="col-sm-12">
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    
                    <input type="text" id="username" class="form-control" name="_username" spellcheck="false" autocomplete="off" placeholder="{{ 'security.login.username'|trans }}" autofocus required="required" />

                    <br />

                    <input type="password" id="password" class="form-control" name="_password" spellcheck="false" placeholder="{{ 'security.login.password'|trans }}" required="required" />

                    <br />

                    <div class="block_remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked="checked" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>

                    <input type="submit" id="login-submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans }}" />

                    <p class="forgot_password"><a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot'|trans }}</a></p>
                </form>
            </div>
        </div>
    </div>
    <div class="push_footer"></div>
</div>
{% endblock fos_user_content %}
