{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">

        <h1>Liste des inscrits</h1>
        <hr>
        {% for data in datas %}
            <h2> {{ data.pilier }}</h2>
            <ul>
                {% for entreprise in data.entreprises %}
                    {{dump(entreprise.nom)}}
                    {% if entreprise.nom != null and entreprise.nom != "" %}
                        <li class="entreprise">
                            <a href="{{ path('site_details', {'id':entreprise.id })}}"> <strong>{{entreprise.nom}} </strong></a>: {{ entreprise.adresse }} - {{ entreprise.ville }}
                        </li>
                    {% else %}
                        <li> {{ 'entreprise.no_entreprise'|trans }}</li>
                        {% endif %}
                    {% endfor %}
            </ul> 
        {% endfor %}


    </div>
{% endblock %}
