{% extends '::base.html.twig' %}

{% block body %}

    {% stylesheets '@SiteBundle/Resources/public/css/map.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    <form class="form-group col-sm-4 col-sm-offset-4">
        <div class="input-group">

            <input class="form-control" placeholder="Rechercher"/>
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        </div>
    </form>

    <div class="container-map">
        <div id="map"></div>
    </div>

    <div class="filtres col-sm-3" id="zoneRechercheCarte">
        <form role="form" class="form-horizontal col-sm-10 col-sm-offset-1">
            <fieldset>
                <legend id="filtreRechercheCarte" class="active">Filtres de recherche <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> </legend>
                <div class="form-group">
                    <input type="text" id="search-ressources" class="autocomplete-search-ressources form-control" data-url="{{ path('api_commun_json_ressources') }}" name="ressources" placeholder="Ressources">
                </div>
                <div class="form-group">
                    <input type="text" id="search-city" class="autocomplete-search-city form-control" data-url="{{ path('api_commun_json_villes') }}" name="city" placeholder="Ville">
                </div>

                <div class="form-group">
                    <input type="text" id="search-cp" class="autocomplete-search-cp form-control" data-url="{{ path('api_commun_json_code_postal') }}" name="cp" placeholder="Code Postal">
                </div>
                
                <div class="form-group">
                    <input type="text" id="search-entreprise" class="autocomplete-search-entreprise form-control" data-url="{{ path('api_commun_json_entreprise') }}" name="entreprise" placeholder="Entreprise">
                </div>
                
                <div class="form-group">
                    <label for="distance">Distance:</label>
                    <input type="text" id="distance" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    <div id="slider-range"></div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="container">
        <section id="tuileContainer" class="row">
            <article class="col-sm-4">
                <div class="imgTuile"></div>
                Sed ut perspiciatis unde omnis iste r sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                quis nostrum exer v
            </article>
            <article class="col-sm-4">
                <div class="imgTuile"></div>
                Sed ut perspiciatis unde omnis iste r sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                quis nostrum exer v

            </article>
            <article class="col-sm-4">
                <div class="imgTuile"></div>
                Sed ut perspiciatis unde omnis iste r sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                quis nostrum exer v

            </article>
        </section>
    </div>

    <script src="http://maps.google.com/maps/api/js"></script>

    {% javascripts '@SiteBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
