{% extends '::base.html.twig' %}

{% trans_default_domain 'accueil' %}

{% block title %}
    {{ 'titles.accueil'|trans({}, 'titles') }}
{% endblock title %}

{% block body %}

    <div id="loading-root">
        <img src="{{ asset('bundles/site/img/loader.gif') }}">
    </div>

    {% stylesheets '@SiteBundle/Resources/public/css/map.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    <div class="container voffset3">
        <div class="row">
            <form class="form-group col-sm-4 col-sm-offset-2" id="search-code-naf-form">
                <div class="input-group">
                    <input class="form-control autocomplete-search-code-naf" data-url="{{ path('api_commun_json_codes_naf') }}"
                           placeholder="Entrer le code NAF ou mots clés"/>
                    <input id="search-code-naf-input" value="-1" type="hidden" name="codeNaf"/>
                    <div class="input-group-addon" id="send-form"><i class="glyphicon glyphicon-search"></i></div>
                </div>
            </form>


            <div class="col-sm-4 results hide">
                <div class="alert alert-info text-center">
                    <p id="nb_firm_found"></p>
                </div>
                <a class="btn btn-warning col-sm-4 col-sm-offset-4" href="{{ path('reset_filters') }}">{{ 'filters.reset'|trans }}</a>
            </div>
            
        </div>

            

    </div>

    <div class="container-map">
        <div id="map"></div>

        {% include '@Site/Index/filtres.html.twig' %}
    </div>


    <div class="container">
        <section id="tuileContainer" class="row">
            <article class="col-sm-4">
                <ul class="list-group text-left">
                    <li class="list-group-item"><img src="{{ asset("bundles/site/img/picto-map/green-dot.png") }}"/>
                        Recyclage
                    </li>
                    <li class="list-group-item"><img src="{{ asset("bundles/site/img/picto-map/yellow-dot.png") }}"/>
                        Approvisionnement durable
                    </li>
                    <li class="list-group-item"><img src="{{ asset("bundles/site/img/picto-map/purple-dot.png") }}"/>
                        Eco-conception
                    </li>
                    <li class="list-group-item"><img src="{{ asset("bundles/site/img/picto-map/blue-dot.png") }}"/>
                        Ecologie industrielle et territoriale
                    </li>
                    <li class="list-group-item"><img src="{{ asset("bundles/site/img/picto-map/pink-dot.png") }}"/>
                        Economie de la fonctionnalité
                    </li>
                    <li class="list-group-item"><img src="{{ asset("bundles/site/img/picto-map/ltblue-dot.png") }}"/>
                        Consommation responsable (achat, consommation collaborative, utilisation)
                    </li>
                    <li class="list-group-item"><img src="{{ asset("bundles/site/img/picto-map/orange-dot.png") }}"/>
                        Allongement de la durée d'usage (réemploi, réparation, réutilisation)
                    </li>
                    <li class="list-group-item"><img src="{{ asset("bundles/site/img/picto-map/red-dot.png") }}"/> -sans
                        pilier-
                    </li>
                </ul>
            </article>
            <article class="col-sm-8 text-left">

                {{ 'filters.content'|trans|raw }}
                
                <a href="http://www.ademe.fr/expertises/economie-circulaire">
                    <img class="img-responsive" src="https://www.ademe.fr/sites/default/files/assets/images/economie_circulaire_schema_ademe.gif" alt="Schéma de l'économie circulaire"/>
                    <p>Source : ADEME</p>
                </a>
            </article>

            <div class="clear"></div>
        </section>
    </div>

    <script src="http://maps.google.com/maps/api/js"></script>

    {% javascripts '@SiteBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $('html').css('overflow', 'hidden');
    </script>

{% endblock %}
