{% extends 'GeolocationAdminBundle::layout.html.twig' %}
{% trans_default_domain 'site' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Sites de production'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

    <div class="row">

        <div class="span8">
            <h1>{{ 'views.index.list'|trans({'%entity%': 'Sites de production'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>
        </div>
        <div class="span2">
            {% if form_errors(filterForm) %}
                <div class="alert alert-block alert-error fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="span2">
            <div class="filters-right">
                <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>

        <div class="span12">
            <div id="filters" class="collapse">

                <form class="well" action="{{ path('site') }}" method="get" {{ form_enctype(filterForm) }}>
                    {{ form_row(filterForm.id) }}
                    {{ form_row(filterForm.siret) }}
                    {{ form_row(filterForm.ville) }}
                    {{ form_row(filterForm.codePostal) }}
                    {{ form_row(filterForm.isPublic) }}
                    {{ form_row(filterForm.nom) }}
                    {{ form_rest(filterForm) }}

                    <p>
                        <button type="submit" name="filter_action"
                                value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                        <button type="submit" name="filter_action"
                                value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    </p>
                </form>
            </div>
        </div>

        <div class="span12">

            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>{{ 'site.id'|trans }}</th>
                    <th>{{ 'site.name'|trans }}</th>
                    <th>{{ 'site.address'|trans }}</th>
                    <th>{{ 'site.city'|trans }}</th>
                    <th>{{ 'site.zipcode'|trans }}</th>
                    <th>{{ 'site.phone'|trans }} Postal</th>
                    <th>{{ 'site.phoneVisible'|trans }}</th>
                    <th>{{ 'site.siret'|trans }}</th>
                    <th>{{ 'site.mere'|trans }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('site_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.nom }}</td>
                        <td>{{ entity.adresse }}</td>
                        <td>{{ entity.ville }}</td>
                        <td>{{ entity.codePostal }}</td>
                        <td>{{ entity.tel }}</td>
                        {% if entity.isPublic == 1 %}
                            <td>Oui</td>
                        {% else %}
                            <td>Non</td>
                        {% endif %}
                        <td>{{ entity.siret }}</td>
                        <td><a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user }}</a></td>
                        <td>
                            <a class="btn btn-mini" href="{{ path('site_show', { 'id': entity.id }) }}">
                                {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                            </a>
                            <a class="btn btn-mini" href="{{ path('site_edit', { 'id': entity.id }) }}">
                                {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                            </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="span4">
            {{ pagerHtml|raw }}
        </div>

        {#<div class="span8">
            <a class="btn btn-primary likepaginator" href="{{ path('adresse_new') }}">
                {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Adresse
            </a>
        </div>#}
    </div>

{% endblock %}