<h1>Nouvelle inscription</h1>

<p>Nom : {{ user.username }}</p>
<p>Email : {{ user.email }}</p>
<p>Entreprise : {{ user.nom }}</p>
<p>Siren : {{ user.siren }}</p>
<a href="http://2015-geoloc.iutinfobourg.fr/admin/user/{{ user.id }}/edit" >Activer ce compte </a>