{% trans_default_domain 'GeolocationUserBundle' %}

<div id="form-reset">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>{{ 'resetting.request.title'|trans }}</h1>
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-group">
                    <div class="form-group">
                        {% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                        {% endif %}
                        <input type="text" id="username" name="username" placeholder="{{ 'resetting.request.username'|trans }}" class="form-control" autocomplete="off" spellcheck="false" autofocus required="required" />
                    </div>
                    <div>
                        <button type="submit" id="form-reset-submit" class="btn btn-warning">{{ 'resetting.request.submit'|trans }}</button>
                    </div>
                </form>
                <p id="back-to-login-page"><a href="{{ path('fos_user_security_login') }}">{{ 'resetting.request.back_to_login' |trans }}</a></p>
            </div>
        </div>
    </div>
</div>