<h1>Nouvelle demande de suppression de compte</h1>

<p>Nom : {{ suppression.user.nom }}</p>
<p>Prénom : {{ suppression.user.username }}</p>
<p>Email : {{ suppression.user.email }}</p>
<p>Objet : {{ suppression.objet }}</p>
<p>Message : {{ suppression.message }}</p>