{% trans_default_domain 'GeolocationUserBundle' %}

<div class="container">

    {% form_theme form 'GeolocationUserBundle:Form:error.html.twig' %}
    {{ form_start(form) }}
    {{ form_errors(form) }}


    <div id="ressource_edit">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{ 'profile.edit.ressource_title'|trans }}</h3></div>
            <div class="panel-body">



                <span class="form-edit-label">{{ form_label(form.besoin) }}</span><br>
                {{ form_widget(form.besoin, { 'attr': {'class': 'edit-form-names big-checkbox', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                <span class="form-error" id="error-besoin">{{ form_errors(form.besoin) }}</span>

                <div class="from-group voffset1">

                    {% include 'GeolocationUserBundle:Ajax:template_ajax.html.twig' %}

                    <div class="col-sm-4 hide">
                        <span class="form-edit-label">{{ form_label(form.cpf) }}</span>
                        {{ form_widget(form.cpf, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-cpf">{{ form_errors(form.cpf) }}</span>
                    </div>

                    <div class="col-sm-4 hide">
                        <span class="form-edit-label">{{ form_label(form.cpf) }}</span>
                        {{ form_widget(form.cpf, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-cpf">{{ form_errors(form.cpf) }}</span>
                    </div>

                    <div class="col-sm-4 hide">
                        <span class="form-edit-label">{{ form_label(form.cpf) }}</span>
                        {{ form_widget(form.cpf, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-cpf">{{ form_errors(form.cpf) }}</span>
                    </div>

                    <div class="col-sm-4 hide">
                        <span class="form-edit-label">{{ form_label(form.cpf) }}</span>
                        {{ form_widget(form.cpf, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-cpf">{{ form_errors(form.cpf) }}</span>
                    </div>

                </div>



                <div class="form-group">           

                    {{ form_widget(form.saveRessource, { 'attr': {'class': 'submit-button-geolocation btn btn-success', 'value' : ('profile.edit.ressource_submit'|trans) }}) }}

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div id="ressource_delete" class="form-group col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Mes ressources</h3></div>
                <div class="panel-body">
                   {% if ressources|length > 0 %}
                            {% set cpt = 0 %}
                            <h4>Besoin</h4>
                            <ul id="listBesoin">
                                {% for key, ressource in ressources %}
                                    {% if ressource.getBesoin()==true %}
                                        <li class="myRessource"><strong>Ressources : </strong>
                                            {{ ressource.getCpf() }}
                                        </li>
                                        {% set cpt = 1 %}
                                    {% endif %}
                                      
                                {% endfor %}
                                {% if cpt==0 %}
                                    <li class="myRessource"> {{ 'profile.show.no_besoins'|trans }} </li>
                                {% endif %} 
                            </ul>

                             {% set cpt = 0 %}
                            <h4>Proposition</h4>
                            <ul id="listProposition">
                                {% for key, ressource in ressources %}
                                    {% if ressource.getBesoin()==false %}
                                        <li class="myRessource"> <strong>Ressources : </strong>
                                            {{ ressource.getCpf() }}
                                        </li>
                                         {% set cpt = 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if cpt==0 %}
                                        <li class="myRessource"> {{ 'profile.show.no_propositions'|trans }} </li>
                                    {% endif %}
                            </ul>
                        {% else %}
                            <p>
                                {{ 'profile.show.no_ressources'|trans }} 
                            </p>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-default" href="{{ path('fos_user_profile_show') }}" class="submit-button-geolocation-light">
        <i class="glyphicon glyphicon-arrow-left"></i>
        {{ 'profile.edit.back_on_profile'|trans }}
    </a>

</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body">
                Etes-vous sûr de vouloir supprimer cette ressource : <span></span> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                <a id="valid" href = "" type="button" class="btn btn-danger">Oui</a>
            </div>
        </div>
    </div>
</div>


<script>
    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var id = button.data('whatever'); // Extract info from data-* attributes
        var myressource = button.data('myressource');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-body span').text(myressource);
        modal.find('.modal-footer #valid').attr('href', "/app_dev.php/ressources-delete/" + id);
    });
</script>