{% trans_default_domain 'GeolocationUserBundle' %}

<div class="container">
    <div class="row">

        {% form_theme form 'GeolocationUserBundle:Form:error.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
            <div id="ressource_edit" class="form-group col-sm-5">
                <h2>{{ 'profile.edit.ressource_title'|trans }}</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <span class="form-edit-label">{{ form_label(form.besoin) }}</span>
                        {{ form_widget(form.besoin, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-besoin">{{ form_errors(form.besoin) }}</span>
                    </div>

                    <div class="col-sm-4">
                        <span class="form-edit-label">Section</span>
                        <select id="sections" class="section">
                            {% for key, section in sections %}
                                <option value="{{ key }}">{{ section }}</option>
                            {% endfor %}
                        </select>

                    </div>

                    <div class="col-sm-4 hide division-form">
                        <select name="division" data-placeholder="Division" title="Division"
                                class="form-control division">
                            <option label="Division" value="-1"></option>

                        </select>
                    </div>

                    <div class="col-sm-4 hide">
                        <span class="form-edit-label">{{ form_label(form.cpf) }}</span>
                        {{ form_widget(form.cpf, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-cpf">{{ form_errors(form.cpf) }}</span>
                    </div>

                    <div class="col-sm-4 hide">
                        <span class="form-edit-label">{{ form_label(form.cpf) }}</span>
                        {{ form_widget(form.cpf, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-cpf">{{ form_errors(form.cpf) }}</span>
                    </div>

                    <div class="col-sm-4 hide">
                        <span class="form-edit-label">{{ form_label(form.cpf) }}</span>
                        {{ form_widget(form.cpf, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-cpf">{{ form_errors(form.cpf) }}</span>
                    </div>

                    <div class="col-sm-4 hide">
                        <span class="form-edit-label">{{ form_label(form.cpf) }}</span>
                        {{ form_widget(form.cpf, { 'attr': {'class': 'edit-form-names form-control', 'autocomplete': 'off', 'spellcheck': 'false'}}) }}
                        <span class="form-error" id="error-cpf">{{ form_errors(form.cpf) }}</span>
                    </div>


                </div>


                {{ form_widget(form.saveRessource, { 'attr': {'class': 'submit-button-geolocation', 'value' : ('profile.edit.ressource_submit'|trans) }}) }}

                {{ form_end(form) }}
            </div>
        </div>

    </div>
</div>